@import './login.css';
@import './sb-admin-2.css';
@import './chat.css';

.notifications-container{
	max-height: 25rem;
}

.notifications-container::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: blue;
}
